@import "../../styles/configs/colors.scss";

.page__nav {
  display: flex;

  &--link {
    background-color: rgb(226 226 226);
    color: $dark;
    box-shadow: 2px 2px 3px $dark;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border-radius: 5px;
    min-width: 4rem;

    position: relative;

    &:hover {
      filter: brightness(1.1);
    }

    .cart__ {
      &icon {
        width: 2.5rem;
      }

      &items-quantity {
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 0.75rem;
        width: 1rem;
        height: 1rem;

        background-color: $red;
        color: $white;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
